<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Delete User Page</h1>
     <form action="/delete/3" method="POST">
       
        <button type="submit">Delete User</button>
    </form>
</body>
</html>