<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <form action="/update/1" method="POST">
        <label for="userName">Name</label>
        <input type="text" name="userName" id="userName"><br>
        <label for="userAge">Age</label>
        <input type="text" name="userAge" id="userAge"><br>
        <label for="userCity">City</label>
        <input type="text" name="userCity" id="userCity">
        <button type="submit">Update User</button>
    </form>
</body>
</html>